<h2>About ChatOps.ai</h2>
<p>chatops.ai drives to create industry standards and best practices for the use of ChatOps, automating tasks via natural communication </p>

<h2>Goals</h2>
<ul>
  <li>Define standards for developing chatbots equipped with machine learning services</li>
  <li>Provide resources for developers to further develop their chatbots</li>
  <li>Grow the community of enthusiasts and creators of chatbots that fufill ChatOps</li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/chatops-ai">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/chatops-ai/">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/chatopsai">Follow the action</a>
  </li>
</ul>
